<div data-test-editor-post-status ...attributes>
    {{#if this._isSaving}}
        {{t "postStatus.Saving..."}}
    {{else if (or @post.isPublished @post.pastScheduledTime)}}
        {{t "postStatus.Published"}}
        {{#if (or (eq @post.email.status "submitting") (eq @post.email.status "submitting"))}}
            {{t "and sending to {members, plural}" members=@post.email.emailCount}}
        {{else if (eq @post.email.status "submitted")}}
            and sent to {{pluralize @post.email.emailCount "member"}}
            {{t "and sent to {members, plural}" members=@post.email.emailCount}}
        {{/if}}
    {{else if @post.isScheduled}}
        <time datetime="{{@post.publishedAtUTC}}" class="ml1 green f8" data-test-schedule-countdown>
            {{t "Will be published {scheduledText}." scheduledText=this.scheduledText}}
        </time>
    {{else if @post.isNew}}
        {{t "postStatus.New"}}
    {{else}}
    {{t "postStatus.Draft"}}
    {{/if}}
</div>