<div data-test-editor-post-status ...attributes>
    {{#if this.isSaving}}
        {{t "postStatus.Saving..."}}
    {{else if (or @post.isPublished @post.pastScheduledTime)}}
        {{t "postStatus.Published"}}
        {{#if (or (eq @post.email.status "submitting") (eq @post.email.status "submitting"))}}
            {{t "and sending to {members, plural}" members=@post.email.emailCount}}
        {{else if (eq @post.email.status "submitted")}}
            and sent to {{pluralize @post.email.emailCount "member"}}
        {{/if}}
        {{#if (feature "savedIndicator")}}
            {{if (not @hasDirtyAttributes) "- Saved"}}
        {{/if}}
    {{else if @post.isScheduled}}
        <time datetime="{{@post.publishedAtUTC}}" class="ml1 green f8" data-test-schedule-countdown>
            {{#if @post.emailRecipientFilter}}
                {{t "Will be published and sent to"}} <GhRecipientFilterCount @filter={{@post.emailRecipientFilter}} />
            {{else}}
                {{t "Will be published"}}
            {{/if}}
            {{this.scheduledTime}}
        </time>
        {{#if (feature "savedIndicator")}}
            {{if (not @hasDirtyAttributes) (t "- Saved")}}
        {{/if}}
    {{else if @post.isNew}}
        {{t "postStatus.New"}}
    {{else}}
        Draft
        {{#if (feature "savedIndicator")}}
            {{if (not @hasDirtyAttributes) (t "- Saved")}}
        {{/if}}
    {{/if}}
</div>