<header class="modal-header" data-test-modal="delete-user">
    <h1>{{t "members.Add subscription"}}</h1>
</header>
<a class="close" href="" role="button" title={{t "common.Close"}} {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">{{t "common.Close"}}</span></a>

<form>
<div class="modal-body">
    <p class="gh-member-addcomp-subhed">{{t "members.Select a product for <strong>{email}</strong>'s complimentary subscription." email=(or this.member.name this.member.email) htmlSafe=true}}</p>
    <div class="form-rich-radio">
        <div class="gh-radio active">
            <div class="gh-radio-content">
                <div class="gh-radio-label">
                    <div class="description">
                        <h4>{{t "members.Bronze"}}</h4>
                        <p>{{t "members.Only the hottest marketing news"}}</p>
                    </div>
                </div>
            </div>
            <div class="gh-radio-button"></div>
        </div>
        <div class="gh-radio">
            <div class="gh-radio-content">
                <div class="gh-radio-label">
                    <div class="description">
                        <h4>{{t "members.Silver"}}</h4>
                        <p>{{t "members.Extra weekly newsletter"}}</p>
                    </div>
                </div>
            </div>
            <div class="gh-radio-button"></div>
        </div>
        <div class="gh-radio">
            <div class="gh-radio-content">
                <div class="gh-radio-label">
                    <div class="description">
                        <h4>{{t "members.Gold"}}</h4>
                        <p>{{t "members.All-in-one supporter pack!"}}</p>
                    </div>
                </div>
            </div>
            <div class="gh-radio-button"></div>
        </div>
    </div>
</div>
</form>

<div class="modal-footer">
    <button
        class="gh-btn"
        {{action "closeModal"}}
        {{!-- disable mouseDown so it does not trigger focus-out validations --}}
        {{action (optional this.noop) on="mouseDown"}}
        data-test-button="cancel-webhook"
    >
        <span>{{t "common.Cancel"}}</span>
    </button>
    <button
        class="gh-btn gh-btn-green"
        {{action "closeModal"}}
        {{!-- disable mouseDown so it does not trigger focus-out validations --}}
        {{action (optional this.noop) on="mouseDown"}}
    >
        <span>{{t "members.Add subscription"}}</span>
    </button>

    {{!-- <GhTaskButton @buttonText={{t "members.Add subscription"}}
        @successText={{this.successText}}
        @task={{this.addPriceTask}}
        @disabled={{this.cannotAddPrice}}
        @class="gh-btn gh-btn-green gh-btn-icon gh-btn-add-memberproduct"
        data-test-button="save-webhook" /> --}}
</div>