<header class="modal-header">
    <h1>{{t "md.help.Markdown Help"}}</h1>
</header>
<a class="close" href="" role="button" title={{t "common.Close"}} {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">{{t "common.Close"}}</span></a>

<div class="modal-body">
    <section class="markdown-help-container">
        <table class="modal-markdown-help-table">
            <thead>
            <tr>
                <th>{{t "md.help.Markdown"}}</th>
                <th>{{t "md.help.Result"}}</th>
                <th>{{t "md.help.Shortcut"}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{t "md.help.**text**"}}</td>
                <td><strong>{{t "md.help.Bold"}}</strong></td>
                <td>{{t "md.help.Ctrl/⌘ + B"}}</td>
            </tr>
            <tr>
                <td>{{t "md.help.*text*"}}</td>
                <td><em>{{t "md.help.Emphasize"}}</em></td>
                <td>{{t "md.help.Ctrl/⌘ + I"}}</td>
            </tr>
            <tr>
                <td>{{t "md.help.~~text~~"}}</td>
                <td><del>{{t "md.help.Strike-through"}}</del></td>
                <td></td>
            </tr>
            <tr>
                <td>{{t "md.help.[title](http://)"}}</td>
                <td><a href="#">{{t "md.help.Link"}}</a></td>
                <td>{{t "md.help.Ctrl/⌘ + K"}}</td>
            </tr>
            <tr>
                <td>{{t "md.help.`code`"}}</td>
                <td><code>{{t "md.help.Inline Code"}}</code></td>
                <td>{{t "md.help.Ctrl/⌘ + Alt + C"}}</td>
            </tr>
            <tr>
                <td>{{t "md.help.![alt](http://)"}}</td>
                <td>{{t "md.help.Image"}}</td>
                <td>{{t "md.help.Ctrl/⌘ + Shift + I"}}</td>
            </tr>
            <tr>
                <td>{{t "md.help.* item"}}</td>
                <td>{{t "md.help.List"}}</td>
                <td>{{t "md.help.Ctrl/⌘ + L"}}</td>
            </tr>
            <tr>
                <td>{{t "md.help.1. item"}}</td>
                <td>{{t "md.help.Ordered List"}}</td>
                <td>{{t "md.help.Ctrl/⌘ + Alt + L"}}</td>
            </tr>
            <tr>
                <td>{{t "md.help.> quote"}}</td>
                <td>{{t "md.help.Blockquote"}}</td>
                <td>{{t "md.help.Ctrl/⌘ + '"}}</td>
            </tr>
            <tr>
                <td>{{t "md.help.==Highlight=="}}</td>
                <td><mark>{{t "md.help.Highlight"}}</mark></td>
                <td></td>
            </tr>
            <tr>
                <td>{{t "md.help.# Heading"}}</td>
                <td>{{t "md.help.H1"}}</td>
                <td></td>
            </tr>
            <tr>
                <td>{{t "md.help.## Heading"}}</td>
                <td>{{t "md.help.H2"}}</td>
                <td>{{t "md.help.Ctrl/⌘ + H"}}</td>
            </tr>
            <tr>
                <td>{{t "md.help.### Heading"}}</td>
                <td>{{t "md.help.H3"}}</td>
                <td>{{t "md.help.Ctrl/⌘ + H (x2)"}}</td>
            </tr>
            </tbody>
        </table>
        {{{t "For further Markdown syntax reference <a href=\"{link}\" target=\"_blank\">Markdown Documentation</a>" link="https://ghost.org/help/using-the-editor/#using-markdown"}}}
    </section>
</div>
