<header class="modal-header" data-test-modal="delete-user">
    <h1>{{t "Upgrade to un-suspend this user"}}</h1>
</header>
<button class="close" title={{t "common.Close"}} {{on "click" this.closeModal}}>{{svg-jar "close"}}<span class="hidden">{{t "common.Close"}}</span></button>

<div class="modal-body">
    <p>
        {{html-safe this.model.message}} {{t "To give this user access to Ghost, upgrade to a different plan."}}
    </p>
</div>

<div class="modal-footer">
    <button {{on "click" this.closeModal}} class="gh-btn" data-test-button="cancel-upgrade">
        <span>{{t "common.Cancel"}}</span>
    </button>

    <button {{on "click" (action "upgrade")}} class="gh-btn gh-btn-green" data-test-button="upgrade-plan">
        <span>{{t "Upgrade my plan"}}</span>
    </button>
</div>